<h1>Available parts to buy:</h1>


<ul>
  <% @parts.each do |part| %>
    <li>
      <div class="card-trip">
        <img src="https://source.unsplash.com/random" alt="">
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to part.name, part_path(part) %></h2>
            <p><%= part.description %> </p>
          </div>
          <h2 class="card-trip-pricing">€ <%= part.price %></h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered">
        </div>
      </div>
    </li>
  <% end %>
</ul>
