// Specific CSS for your home-page

.welcome {
  padding-top: 30px;
  margin-left: 40px;
}


.card-dashboard {
  overflow: hidden;
  background-color: #28518C;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 3px;
}

.card-dashboard-info a {
  display: flex;
  justify-content: center;
  padding: 80px;
  color: white;
  font-size: 22px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}


