.user-info {
  text-align: center;
}

.user-text {
  font-size: 24px !important;
}

.user-picture {
  margin-top: -40px;
}

.profile-header {
  padding-left: 60px;
  padding-top: 40px;
  text-align: center;
}

.edit-btn {
  border: 2px black;
  background-color: #28518C;
  color: white;
  padding: 30px 40px;
  margin-left: 40px;
  margin-top: 40px;
  font-size: 24px !important;
}

.grid {
  grid-gap: 60px;
}

#profile-container {
  background-color: rgba(100,100,100,0.6);
  margin-top: 80px;
  border-radius: 10px;
}
