<h1>Hello <%= current_user.first_name %> <%= current_user.last_name %></h1>

<h2>menu</h2>
<ul>
  <li>
    <%= link_to "Edit user", edit_user_registration_path %>
  </li>
  <li>
    <%= link_to "sign out", destroy_user_session_path, method: :delete %>
  </li>
</ul>
