<div class="container">
  <h1><%= current_user.first_name.capitalize %>'s parts</h1>

  <ul class="list-group">
    <% current_user.parts.each do |part| %>
      <li class="list-group-item list-group-item-light">
        <%= part.name  %>
      </li>
    <% end %>
  </ul>
</div>



