.container-parts-form {
  position: absolute;
  width: 380px;
  z-index: 15;
  top: 25%;
  left: 50%;
  margin: -100px 0 0 -190px;
  background-color: rgba(20,20,20,0.2);
  padding: 50px;
  border-radius: 5px;
}
