//uikit.lewagon.com/documentation#card_trip

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-bottom: 0.2rem solid;
}

.card-trip h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 5px;
}

.card-trip p {
  font-size: 12px !important;
  opacity: .8;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip-pricing {
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bold;
  text-align: center;
}

