


<div class="container">
  <h1><%= current_user.first_name.capitalize %>'s parts</h1>

  <ul class="list-group">
    <% current_user.trades.each do |trade| %>
      <li class="list-group-item list-group-item-light">
        <%= trade.user.first_name %>

      </li
    <% end %>
  </ul>
</div>


